<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
nombre = &quot;Hermann&quot;

for a in 1 2 3 4 5 6 7 8 9 10 
do
	echo &quot;Clase N$a&quot;
	if [ $a == 8 ]
    then
    	sleep 5
    	echo &quot;Clase #$a hora de descansar $nombre&quot;
    fi
done
echo &quot;Clases terminadas&quot;
    	</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>